body{
  background-color:#f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.App{
  text-align:center;
  padding-top:40px;
}

.title{
  font-size:40px;
  font-weight:bold;
}

.cards-container{
  display:flex;
  justify-content:center;
  gap:40px;
  margin-top:50px;
}

/* card style */

.card{
  background:white;
  width:260px;
  padding:25px;
  border-radius:15px;
  box-shadow:0px 5px 15px rgba(0,0,0,0.1);
}

.profile-image{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
}

.name{
  margin-top:15px;
  font-size:22px;
  font-weight:bold;
}

.role{
  color:gray;
  margin-top:5px;
}

.profile-btn{
  margin-top:20px;
  width:100%;
  padding:10px;
  background-color:#3b82f6;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.profile-btn:hover{
  background-color:#2563eb;
}